click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
botframework-connector>=4.5.0b4 
botbuilder-schema>=4.5.0b4 
botbuilder-core>=4.5.0b4 
botbuilder-dialogs>=4.5.0b4 
botbuilder-ai>=4.5.0b4 
datatypes-date-time>=1.0.0.a1
azure-cognitiveservices-language-luis==0.2.0
botbuilder-applicationinsights>=4.5.0b4 
botbuilder-azure>=4.5.0b4 
msrest>=0.6.9
asyncio>=3.4.3
requests>=2.22.0
request>=2018.11.20
beautifulsoup4 >=4.8.0

